@import url('https://fonts.googleapis.com/css2?family=Krona+One&Montserrat:wght@400;600&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria : 'Montserrat', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15% ;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__conteudo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_link{
   
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);

    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 21px 0;
    
}

.apresentacao__links_link:hover{
    background-color: var(--cor-hover);

}


.apresentacao__links__saida{

    border-radius: 8px;
    border: 2px solid red;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;

    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 21px 0;

}

.apresentacao__links__saida:hover{
    background-color: red;
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}


.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
